body {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-color: gray;
  background-image: url("../Img/fondo-login.jpg");
} 
h1{
  text-align: center;
  color: whitesmoke;
}
